/*Media Query*/
@media (max-width: 767px) {
	body{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
}
#header-section{
	background: rgb(135,80,156);
	min-height: 597px;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
.navbar {
    border: 0px solid transparent;
        padding-top: 60px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
	font-family: 'Titillium Web', sans-serif;

}
.navbar-brand {
    padding: 5px 5px;
}
.carousel-inner>.item{
	padding: 150px;
	text-align: center;
	color: white;
    font-family: 'Titillium Web', sans-serif;
}
.btn-custom{
 background-color: rgb(235,125,75);
 padding: 15px 30px;
 text-align: center;
 box-shadow: 0 5px 0px #cc6633;
 margin-top: 20px;
}
.btn-custom:hover, .btn-custom:focus{
	background-color: rgb(235,125,75);
	box-shadow: 0 5px 0px transparent;
}
.carousel-caption {
    padding-bottom: 20px;
}
#itemh1{
    margin-top: -33px;
}
#itemh1 h1{
	    font-size: 24px;
}
#service-section{
	background: rgb(23,194,164);
	padding: 4em 0;
	color: #fff;
}
#service-section img{
	margin: 0 auto;
}
.header{
	padding-top: 2em;
	padding-bottom: 2em;
}
.header p{
	font-size: 14px;
}

#team-section{
	background: rgb(231,241,248);
	padding: 2em 0;
	color: rgb(60,71,97);
}
#team-section h4{
	color: rgb(72,193,233);
}
#team-section img{
	margin: 0 auto;
}
#skill-section{
	background-color: #fff;
	padding: 2em 0;
	color: rgb(60,71,97);
}
.skill img{margin: 0 auto;}
.skill{
	position: relative;
}
.skill span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
}
#portfolio-section{
	background-color: rgb(255,221,153);
	padding: 2em 0;
	color: rgb(60,71,97);
}
.portfolio{
	margin-bottom: 2em;
}
.portfolio li{
	background: rgb(197,173,125);
	padding: 3px 15px;
	color: #fff;
	text-transform:uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}
#about-section{
	background-color: rgb(215,70,128);
	padding: 2em 0;
	color: rgb(255,255,255);
}
.about{
	margin-bottom: 2em;
}
.about h6{
	color: rgb(255,221,153);
}

#contact-section{
	background-color: rgb(60,84,153);
	padding: 2em 0;
	color: rgb(255,255,255);
}
.get-intouch{
	float: none;
	margin: 0 auto;
}
.get-intouch .btn-custom{
	background: #30bae7;
	box-shadow: 0 5px 0px rgb(31,136,171);
	padding: 10px 3em;
	text-transform: uppercase;
}
#footer-section{
	background-color: #344b8e;
	padding: 2em 0;
	color: rgb(255,255,255);
}
#footer-section ul{
	text-align: center;
}
#footer-section ul li{
	float: none;
	display: inline-block;
}
#footer-section ul li a{
	color: #fff;
}
.space{
	padding-left: 40px;
}
 }
@media (min-width: 768px) and (max-width: 991px) {
	body{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
}
#header-section{
	background: rgb(135,80,156);
	min-height: 597px;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
.navbar {
    border: 0px solid transparent;
        padding-top: 60px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
	font-family: 'Titillium Web', sans-serif;

}
.navbar-brand {
    padding: 5px 5px;
}
.carousel-inner>.item{
	padding: 150px;
	text-align: center;
	color: white;
    font-family: 'Titillium Web', sans-serif;
}
.btn-custom{
 background-color: rgb(235,125,75);
 padding: 15px 30px;
 text-align: center;
 box-shadow: 0 5px 0px #cc6633;
 margin-top: 20px;
}
.btn-custom:hover, .btn-custom:focus{
	background-color: rgb(235,125,75);
	box-shadow: 0 5px 0px transparent;
}
.carousel-caption {
    padding-bottom: 20px;
}
#itemh1{
    margin-top: -33px;
}
#service-section{
	background: rgb(23,194,164);
	padding: 4em 0;
	color: #fff;
}
#service-section img{
	margin: 0 auto;
}
.header{
	padding-top: 2em;
	padding-bottom: 2em;
}
.header p{
	font-size: 14px;
}

#team-section{
	background: rgb(231,241,248);
	padding: 2em 0;
	color: rgb(60,71,97);
}
#team-section h4{
	color: rgb(72,193,233);
}
#team-section img{
	margin: 0 auto;
}
#skill-section{
	background-color: #fff;
	padding: 2em 0;
	color: rgb(60,71,97);
}
.skill img{margin: 0 auto;}
.skill{
	position: relative;
}
.skill span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
}
#portfolio-section{
	background-color: rgb(255,221,153);
	padding: 2em 0;
	color: rgb(60,71,97);
}
.portfolio{
	margin-bottom: 2em;
}
.portfolio li{
	background: rgb(197,173,125);
	padding: 3px 15px;
	color: #fff;
	text-transform:uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}
#about-section{
	background-color: rgb(215,70,128);
	padding: 2em 0;
	color: rgb(255,255,255);
}
.about{
	margin-bottom: 2em;
}
.about h6{
	color: rgb(255,221,153);
}

#contact-section{
	background-color: rgb(60,84,153);
	padding: 2em 0;
	color: rgb(255,255,255);
}
.get-intouch{
	float: none;
	margin: 0 auto;
}
.get-intouch .btn-custom{
	background: #30bae7;
	box-shadow: 0 5px 0px rgb(31,136,171);
	padding: 10px 3em;
	text-transform: uppercase;
}
#footer-section{
	background-color: #344b8e;
	padding: 2em 0;
	color: rgb(255,255,255);
}
#footer-section ul{
	text-align: center;
}
#footer-section ul li{
	float: none;
	display: inline-block;
}
#footer-section ul li a{
	color: #fff;
}
.space{
	padding-left: 40px;
}
 }
@media (min-width: 992px) and (max-width: 1199px) {

 }
@media (min-width: 1200px) {

 }